<main class="internal">

    <section class="internal__s1" style="background-image: url('assets/img/banner-internal.png')">
        <div class="container">
            <h1>{{s1.title}}</h1>
        </div>
    </section>

    <section class="internal__s2">
        <div class="container">
            <div class="internal__s2__text">
                <h1>{{s2.title}}</h1>
                <p>{{s2.description}}</p>
            </div>
            <figure class="internal__s2__image">
                <img src="{{s2.image}}" alt="" width="300" height="300">
            </figure>
        </div>
    </section>

    <section class="internal__s3">
        <div class="container">
            <figure class="internal__s3__image">
                <img src="{{s3.image}}" alt="" width="300" height="300">
            </figure>
            <div class="internal__s3__text">
                <h1>{{s3.title}}</h1>
                <p>{{s3.description}}</p>
            </div>
        </div>
    </section>

    <section class="internal__s4">
        <div class="container">
            <div class="internal__s4__text">
                <h1>{{s4.title}}</h1>
                <p>{{s4.description}}</p>
            </div>
            <figure class="internal__s4__image">
                <img src="{{s4.image}}" alt="" width="300" height="300">
            </figure>
        </div>
    </section>

</main>