<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- <base href="http://br722.teste.website/~eveli421/"> -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="assets/css/style.min.css" />
    <link rel="shortcut icon" href="/assets/icons/fav-icon.png" type="image/x-icon">
    <title>Eveliny Jhovana Beauty</title>
</head>
<body>
  
    <header class="header">
        <div class="container">
            <a href="./">
                <img src="./assets/img/logo.png" alt="Logo Eveliny" />
            </a>
            <div>
                <a href="https://api.whatsapp.com/send?phone=553598454440" target="_blank">
                    Realizar agendamento
                </a>
                <!-- <button class="js-toggle-menu">
                    <img src="./assets/icons/icon-hamburger.png" alt="" width="36" height="36" />
                </button> -->
            </div>
        </div>
    </header> 

    {{content}}

    <footer class="footer">
        <div class="container">
            <p>© 2025 Evelyn Johane Beauty - All rights reserved</p>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

</body>
</html>