@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.header {
    position: fixed;
    top: 0;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1120px;
    width: 100%;
    padding: 0 15px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: "Montserrat";
}
