.home {

    &__s1 {
        height: 100dvh;
        display: flex;
        align-items: center;
        background-size: cover;
        background-position: center;

        .container {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        &__title {
            font-size: 48px;
            color: #fff;
            margin: 0;
            letter-spacing: 35%;
            max-width: 700px;
        }

        &__description {
            font-size: 18px;
            color: #fff;
            margin: 0;
            max-width: 700px;
            line-height: 140%;
        }

        &__bottom {
            display: flex;
            align-items: center;
            gap: 21px;
            max-width: 700px;

            &__button {
                padding: 12px 24px;
                border-radius: 999px;
                background: #fff;
                font-size: 16px;
                text-decoration: none;
                color: #000;
                transition: all .3s;

                &:hover {
                    scale: 1.06;
                }
            }

            &__social {
                display: flex;
                align-items: center;
                gap: 16px;
                padding: 10px;

                &__item {
                    img {
                        transition: all .3s;

                        &:hover {
                            scale: 1.1;
                        }
                    }
                }
            }
        }
    }

    &__s2 {
        background: $secondaryColor;
        padding: 90px 0;
        &__title {
            text-align: center;
            text-transform: uppercase;
            font-size: 36px;
            margin: 0 0 60px;
            letter-spacing: 35%;
            color: $primaryColor;
        }
        &__items {
            &:not(.slick-initialized) {
                display: flex;
                > * {
                    flex: 1;
                    display: none;
                    &:nth-of-type(1),
                    &:nth-of-type(2),
                    &:nth-of-type(3) {
                        display: block;
                    }
                }
            }
            .slick-list {
                overflow: visible;
                .slick-slide {
                    opacity: 0;
                    transition: all .3s;
                    pointer-events: none;
                    &.slick-active {
                        opacity: 1;
                        pointer-events: unset;
                    }
                }
            }
            &__item {
                padding: 0 8px;
                position: relative;
                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    font-size: 24px;
                    color: #fff;
                    transition: all .3s;
                    opacity: 0;
                    pointer-events: none;
                    z-index: 2;
                    text-align: center;
                }
                img {
                    width: 100%;
                    height: 385px;
                    border-radius: 20px 0 20px 0;
                    object-fit: cover;
                    object-position: center;
                    transition: all .3s;
                    z-index: 1;
                }
                &:hover {
                    span {
                        opacity: 1;
                    }
                    img {
                        filter: brightness(40%);
                    }
                }
            }
        }
        &__arrows {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 32px;
            padding: 40px 0 0;
            &__arrow {
                scale: 1.5;
                cursor: pointer;
                transition: all .3s;
                &.slick-disabled {
                    pointer-events: none;
                    opacity: .4;
                }
            }
        }
    }

    &__s3 {
        background: $secondaryColor;
        padding: 0 0 60px;
        .container {
            display: flex;
            align-items: center;
            gap: 80px;
        }
        &__text {
            flex: 1;
            h1 {
                font-size: 36px;
                letter-spacing: 35%;
                margin: 0 0 40px;
                color: $primaryColor;
                text-transform: uppercase;
            }
            p {
                font-size: 16px;
                color: #000;
                margin: 0;
                max-width: 700px;
                line-height: 140%;
            }
        }
        &__image {
            flex: 1;
            img {
                width: 100%;
                height: 500px;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    &__s4 {
        background: $primaryColor;
        padding: 90px 0;
        .container {
            display: flex;
            align-items: center;
            gap: 80px;
        }
        &__text {
            flex: 1;
            h1 { 
                font-size: 36px;
                letter-spacing: 35%;
                margin: 0 0 40px;
                color: #fff;
                text-transform: uppercase;
            }
            p {
                font-size: 16px;
                color: #fff;
                margin: 0;
                max-width: 700px;
                line-height: 140%;
            }
            ul { 
                padding: 20px 0 0 20px;
                display: flex;
                flex-direction: column;
                gap: 12px;
                li {
                    color: #fff;
                }
            }
        }
        &__image {
            flex: 1;
            img {
                width: 100%;
                height: 500px;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    &__s5 {
        background: $primaryColor;
        padding: 30px 0 120px;
        &__title {
            text-align: center;
            text-transform: uppercase;
            font-size: 36px;
            margin: 0 0 60px;
            letter-spacing: 35%;
            color: #fff;
        }
        &__items {
            display: flex;
            gap: 60px;
            &__item {
                &__top {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin: 0 0 20px;
                    figure {
                        width: 72px;
                        height: 72px;
                        overflow: hidden;
                        border-radius: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                            object-position: center;
                        }
                    }
                    div {
                        h5 {
                            font-size: 18px;
                            color: $secondaryColor;
                            margin: 0 0 8px;
                        }
                        span {
                            font-size: 14px;
                        }
                    }
                }
                &__bottom {
                    p {
                        font-size: 16px;
                        color: #fff;    
                        line-height: 140%;
                    }
                }
            }
        }
       
    }

    &__s6 {
        background: $secondaryColor;
        padding: 70px 0;
    }

}
