.banner {
  height: 100dvh;
}

.banner .container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.banner .container h1 {
  font-size: 64px;
  color: #fff;
  margin: 0;
}

.banner .container p {
  font-size: 24px;
  color: #fff;
  margin: 0;
}

.banner .container > div {
  display: flex;
  align-items: center;
  gap: 21px;
}

.banner .container > div > a {
  padding: 12px 24px;
  border-radius: 999;
  background: #fff;
  font-size: 24px;
}

.banner .container > div > div {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px;
}


