<section class="banner" style="{{banner.image}}">
    <div class="container">
        <h1>{{banner.title}}</h1>
        <p>{{banner.description}}</p>
        <div>
            <a href="{{banner.button.url}}" target="{{banner.button.target}}">{{banner.button.title}}</a>
            <div>
                <a href="{{banner.social.whatsapp.url}}" target="_blank">
                    <img src="{{banner.social.whatsapp.icon}}" alt="" width="32" height="32">
                </a>
                <a href="{{banner.social.instagram.url}}" target="_blank">
                    <img src="{{banner.social.instagram.icon}}" alt="" width="32" height="32">
                </a>
                <a href="{{banner.social.facebook.url}}" target="_blank">
                    <img src="{{banner.social.facebook.icon}}" alt="" width="32" height="32">
                </a>
            </div>
        </div>
    </div>
</section>