.banner {
  height: 100dvh;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.banner .container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.banner .container h1 {
  font-size: 48px;
  color: #fff;
  margin: 0;
  letter-spacing: 35%;
  max-width: 700px;
}

.banner .container p {
  font-size: 18px;
  color: #fff;
  margin: 0;
  max-width: 700px;
  line-height: 140%;
}

.banner .container>div {
  display: flex;
  align-items: center;
  gap: 21px;
  max-width: 700px;
}

.banner .container>div>a {
  padding: 12px 24px;
  border-radius: 999px;
  background: #fff;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  transition: all .3s;
}

.banner .container>div>a:hover {
  scale: 1.06;
}

.banner .container>div>div {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px;
}