<section class="banner">
  <div class="content">
    <h1>Consultoria Automaquiagem</h1>
  </div>
</section>

<!-- CABELOS -->
<section class="section verde">
  <div class="content">
    <div class="section-inner">
      <div class="text">
        <h2>SOBRE A CONSULTORIA</h2>
        <p>Se você deseja se sentir mais bela, confiante, atraente e elegante através da
          automaquiagem, você chegou ao lugar certo. Com a nossa consultoria de automaquiagem
          todo esse potencial pode ser resgatado.
          Utilizando dos conhecimentos de mais de 11 anos na área da maquiagem e atendimentos,
          desenvolvemos um método dinâmico de aprendizado para te guiar na sua jornada de
          autoconhecimento dentro do automaquiagem.
        </p>
      </div>
      <div class="image">
        <img src="/assets/img/curso/curso3.jpg" alt="Cabelos">
      </div>
    </div>
  </div>
</section>

<!-- PENTEADOS -->
<section class="section bege">
  <div class="content">
    <div class="section-inner">
      <div class="image">
        <img src="/assets/img/curso/curso1.jpg" alt="Penteados">
      </div>
      <div class="text">
        <h2>VANTAGENS</h2>
        <p>Todo o conhecimento e técnicas que VOCÊ precisa para se automaquiar, tudo na palma da
          sua mão. Quais são as vantagens? Aprender a se maquiar sozinha, conseguir se maquiar em
          qualquer lugar, Não perder dinheiro comprando produtos em excesso, usar o poder da
          maquiagem ao seu favor, se sentir mais bonita e confiante.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- CUIDADOS -->
<section class="section verde">
  <div class="content">
    <div class="section-inner">
      <div class="text">
        <h2>CONTEÚDO</h2>
        <ul style="font-size: 20px; line-height: 1.6; margin-top: 30px; columns: 3;">
          <li>Pincéis</li>
          <li>Kit para automaquiagem</li>
          <li>Colorimetria</li>
          <li>Harmonia das cores</li>
          <li>Subtom de pele</li>
          <li>Análise e tipos de pele</li>
          <li>Tom de base</li>
          <li>Ajustar a base ao subtom</li>
          <li>Preparação da pele</li>
          <li>Correção de pele</li>
          <li>Contorno e iluminação</li>
          <li>Sobrancelhas</li>
          <li>Cílios postiços</li>
          <li>Ginástica das mãos</li>
          <li>Olhos e esfumados</li>
          <li>Delineado</li>
          <li>Lábios</li>
          <li>Certificado de conclusão</li>
          <li>Carga horária de 8h</li>
          <li>Suporte via whatsapp por 30 dias</li>
          <li>Análise facial</li>
          <li>Apostila personalizada e impressa</li>
          <li>Desafios</li>
        </ul>
      </div>
      <div class="image">
        <img src="/assets/img/curso/curso4.jpg" alt="Modelo">
      </div>
    </div>
  </div>
</section>
